*{
    margin: 0;
    padding: 0;
    background: #69be4d;

}
.form{
    position: relative;
    left: 500px;
    top: 150px;
    
    height: 35vh;
    width: 25%;
    border: 1px solid #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    padding: 40px 60px;
}
.text{
    height: 40px;
    width: 300px;
    padding: 5px 20px;
    border: #f2f2f2;
    background: #f2f2f2;
    color: #f2f2f241;
}
.btn{
    width:90%;
    height:45px;
    background: #69be4d;
    border: #46df13;
    color: white;
}
.reg{
    display: flex; 
    gap: 8px;
    justify-content: center;
    background-color: white;
    
}
.a{
    color: #46df13;
    text-decoration: none;
    background: white;
}